{% extends 'groups/group_base.html' %}
{% block pregroup %}
<div class="col-md-8 container">
    <br>
    <br>
    <h1>{{ group.name }}</h1>

    <div class="content">
        <hr style="border: lightgray solid 3px;">
        {{ group.description_html|safe }}

        <span class=" badge bg-warning"><h4>{{ group.members.count }} members</h4></span>

        {% if user in group.members.all %}
            <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-outline-warning">Leave</a>
        {% else %}
            <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-outline-warning">Join</a>
        {% endif %}

    </div>

</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8 container">

    <br>
    {% if group.posts.count == 0 %}
        No posts in this group yet!
    {% else %}
        {% for post in group.posts.all %}
            <h4>{{ post.message_html|safe }}</h4>
            <small class="username">
                <a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a>
            </small>

            <small>{{ post.created_at }}</small>
            {% if user.is_authenticated and post.user == user %}
                <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-outline-danger">
                        <small> Delete</small>
                        </a>
            {% endif %}
            <hr>

        {% endfor %}
    {% endif %}
    <br>
</div>
<br>
{% endblock %}